body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0px;
    background-color: azure;
}
.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 30px;
    font-weight: bold;
    height: min-content;
    background-color: rgb(25, 25, 25);
    color: #c0aa8f;
    padding: 30px;
    gap: 30px;
}
#easter-egg {
    background-color: rgb(25, 25, 25);
    border: 0;
}
h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1.2em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
}
.title {
    height: min-content;
    justify-content: center;
}
.selection-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10em;
    margin-right: 10em;
    padding: 1em;
}
.choice-button {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.5em;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.emoji-button {
    font-size: 2em;
    padding: .5em;
    width: fit-content;
    height: fit-content;
    background-color: #ada090;
    border: 0px;
    border-radius: 150px;
}
.emoji-button:hover {
    background-color: #837869;
}
.rules-score {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    border-top: dashed black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
    padding: 0;
}
.rule-list {
    width: 500px;
}
.results {
    width: 500px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1em;
    justify-self: flex-start;
}
.scores {
    width: 500px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: rgb(25, 25, 25);
}
.footer-text {
    height: fit-content;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
}
#game-results {
    font-size: 40px;
}